<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}
        Bizi Zaragoza: datos estaciones bicicleta en Zaragoza
      {% endblock %}
    </title>
 
    <!-- CSS de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- CSS de SCEditor -->
    <link rel="stylesheet" href="sceditor/minified/themes/office.min.css" />

  </head>
  <body>
    
    <section class="container">
      
      <header>
        {% block login %}

          {% if session.conectado %}
            
            <h4>Estas conectado - <small><a href="index.php?desconectar=si">desconectar</a></small></h4>
            
          {% else %}
	    
          <header class="flex container" style="margin-top: 1em">
            <form class="form-inline" role="form" method="post" action="index.php">
              <div class="form-group mx-sm-3 mb-2">
                <label class="sr-only" for="correo">Email</label>
                <input type="email" class="form-control" id="correo"
                      placeholder="Introduce tu email" name="correo">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label class="sr-only" for="clave">Contraseña</label>
                <input type="password" class="form-control" id="clave" 
                      placeholder="Contraseña" name="clave">
              </div>
              <div class="form-check form-check-inline">
                <label>
                  <input class="form-check-input" type="checkbox" name="recordar"> No cerrar sesión
                </label>
              </div>
              <button type="submit" class="btn btn-primary mb-2" name="entrar">Entrar</button>
            </form>
          </header>
		      <hr>

	        {% endif %}

        {% endblock %}
      </header>
      
      <header>
      {% block encabezado %}
        <br>
        <h1 class="text-center">Estaciones <span class="text-muted">Bizi Zaragoza</span><img src="images/zaragoza-logo-8bits.png" alt="logo ayuntamiento de zaragoza" width="50"</h1>
        <br>
        <h6 class="text-secondary text-center">Página de prueba certificación DAW sin validez oficial</h6>
        <h6 class="text-center">Acceso con usuario <strong class="text-info">admin@gmail.com</strong> y contraseña <strong class="text-info">nimda</strong></h6>
      {% endblock %}
      </header>
    
        <!--<ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="categorias.html">Categorías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="centros-deportivos.html">Centros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="estaciones-bici-zaragoza.html">Estaciones Bizi</a>
          </li>
        </ul>-->
     
      <br><hr>

      <section>
        <header>
          <h2>
          {% block titulo_contenido %}
          <br>
              <a href="index.php?c=estacionesController.php">Estaciones</a> > 
          {% endblock %}
          </h2>
        </header>
        <section>
        {% block contenido %}
          AQUI VA EL CONTENIDO
        {% endblock %}
        </section>
      </section>

      <footer>
      {% block pie %}
        <br><br>
        <h4>Todos los derechos reservados</h4>
      {% endblock %}
      </footer>

    </section>
    
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="js/jquery-3.3.1.min.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
  
    <!-- Queda puesto el wysiwyg sceditor  -->
    <script src="sceditor/minified/sceditor.min.js"></script>
    <script src="sceditor/minified/formats/bbcode.min.js"></script>
    <script src="sceditor/languages/es.js"></script>
    <script>
    // Replace the textarea #example with SCEditor
    var textarea = document.getElementById('descripcion');
    sceditor.create(textarea, {
      format: 'bbcode'
    });
    </script>

    {% block jsAdicional %}
    {% endblock %}

  </body>
</html>