{% extends 'base.html.twig' %}

	{% block titulo_contenido %}
          
	{% endblock %}

	{% block contenido %}

		{% if session.conectado %}

			<br>
		    <h2>Listado General de Estaciones</h2>
			<table class="table table-striped" style="margin-top:4em">
				<tr>
                    <th>Número Estación</th>
					<th>Nombre Estación Bizi</th>
				</tr>
				{% for laestacion in lasestaciones %}
				<tr>
                    <td>
						<span class="badge badge-pill badge-success">{{ laestacion.id }}</span>
                    </td>
					<td>
						<a href="index.php?c=estacionesController.php&id={{ laestacion.id }}">
						{{ laestacion.nombre }}
						</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		
		{% else %}
			<h2 class="text-center" style="margin-top: 2em">Vaya, no estás autorizado a ver esta página</h2><br>
			<section class="row">
				<div class="col-md-4">
					<i class="fas fa-exclamation-triangle fa-10x" style="color:red"></i>
				</div>
				<div class="col-md-8">
					<p>Estaciones Bizi Zaragoza es una página gratuita que te informa en tiempo real (con una latencia máxima de 2 minutos) de la situación de todas las estaciones Bizi Zaragoza, tanto en número de bicicletas disponibles, como en el de anclajes libres.</p>
					<p>Para acceder a nuestros servicios, necesitas estar dado de alta en nuestra base de datos. El registro requiere aceptación por parte del webadmin. Puedes solicitar tu registro en <a href="mailto:admin@gmail.com">admin@gmail.com</a></p>
				</div>
			</section>

		{% endif %}

	{% endblock %}