{% extends 'base.html.twig' %}

{% block titulo_contenido %}
	{{ parent() }}
	Datos actuales de la <span class="text-muted">Estación Bizi</span> seleccionada <i class="fas fa-map-marker-alt"></i></span>    
	<br>
{% endblock %}

{% block contenido %}
	<br><br>
	<table class="table table-dark rounded-bottom">
		<tr>
			<th class="text-center">Número</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Bicis en la estación<small class="text-success"> - Act. cada 2'</small></th>
            <th class="text-center">Anclajes en la estación<small class="text-success"> - Act. cada 2'</small></th>
		</tr>
		<tr>
			<td class="align-middle text-center" style="padding-top:1.5em; padding-bottom:2em"><span class="text-info">{{ estacion.id }}</span></td>
			<td class="align-middle text-center" style="padding-top:1.5em; padding-bottom:2em"><span class="text-info">{{ estacion.nombre }}</span></td>
            <td class="align-middle text-center" style="padding-top:1.5em; padding-bottom:2em"><button type="button" class="btn btn-lg btn-primary"><i class="fas fa-bicycle" style="margin-right:.5em"></i>Bicicletas disponibles <span class="badge badge-light">{{ estacion.bicis }}</span></button></td>
            <td class="align-middle text-center" style="padding-top:1.5em; padding-bottom:2em"><button type="button" class="btn btn-lg btn-success"><i class="fas fa-circle-notch" style="margin-right:.5em"></i>Anclajes disponibles <span class="badge badge-light">{{ estacion.anclajes }}</span></button></td>
		</tr>
	</table>
	<br>
	<!--Google Map-->
	<div class="rounded" id="map" style="height: 400px; width: 100%"></div>
    
    

{% endblock %}

{% block jsAdicional %}
		<script>
			function initMap() {
			var ubicacion = {lat: {{ estacion.latitud }}, lng: {{ estacion.longitud }}};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 18,
				center: ubicacion
			});
			var marker = new google.maps.Marker({
				position: ubicacion,
				map: map,
				title: 'Estación Bizi {{ estacion.nombre }}'
			});
			}
		</script>
		<!--Incluye la clave API personal-->
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=
		AIzaSyBVc2rOhlC0_ajRti4u0bG9JJRkFbrNv3c
		&callback=initMap"></script>

{% endblock %}